.wrapper {
    overflow: auto;
    display: flex;
    flex-direction: column;
    display: flex;
    height: 100%;
}

.newsFeedListWrapper {
    flex: 1;
    padding-block: 1rem;
    margin-top: 1rem;
    overflow-y: auto;
}

@media (max-width: 465px) {
}
