.wrapper {
    display: grid;
    outline: 6px solid #622d91;
    border-radius: 8px;
    margin-block: 1rem;
    gap: 1.25rem;
    padding: 1.25rem;
    font-size: 1.1em;
    background-color: #0e0e0e;
    box-shadow: 15px 15px 5px #0f0a11ab;
    animation: 500ms ease-in-out slide-in;
    width: min(35rem, 100%);
    margin-inline: auto;
    max-height: 100%;
    overflow: auto;
}

.closeIcon {
    cursor: pointer;
    margin-left: auto;
    width: 35px;
    height: 35px;
}
.postTimestamp {
    color: #fea1a1;
    font-style: italic;
    font-weight: 300;

    /* Spacing for the close icon */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBody {
    white-space: pre-line;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
