.btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 100%;
}

.primary {
    background-color: var(--primary-red);
    transition: var(--transition-bg-color-25);
}

.primary:hover {
    background-color: var(--secondary-red);
    transition: var(--transition-bg-color-25);
}

.secondary {
    background-color: var(--primary-purple);
    transition: var(--transition-bg-color-25);
}
.secondary:hover {
    background-color: var(--secondary-purple);
    transition: var(--transition-bg-color-25);
}
