.commandCenterWrapper {
    display: grid;
    grid-template-rows: min(250px, 15%) auto;
    gap: 1rem;
    padding: 1.25rem;
    width: min(1200px, 100vw);
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
}

.dashboardCard {
    border-radius: 12px;
    background-color: #0a0a0a;
    padding: 1.25rem;
}

.dashboardCard h2 {
    padding-bottom: 1.75rem;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardContent {
    max-height: 100%;
    overflow: auto;
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoutBtn {
    width: 250px;
}
